<div class="grid-container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">GRUPO 1</h5>
          <ul class="card-text" style="list-style: none">
            <li>narea</li>
            <li>macarena</li>
            <li>mauricio</li>
            <li>ivan</li>
          </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">GRUPO 1</h5>
          <ul class="card-text" style="list-style: none">
            <li>narea</li>
            <li>macarena</li>
            <li>mauricio</li>
            <li>ivan</li>
          </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">GRUPO 1</h5>
          <ul class="card-text" style="list-style: none">
            <li>narea</li>
            <li>macarena</li>
            <li>mauricio</li>
            <li>ivan</li>
          </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">GRUPO 1</h5>
          <ul class="card-text" style="list-style: none">
            <li>narea</li>
            <li>macarena</li>
            <li>mauricio</li>
            <li>ivan</li>
          </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">GRUPO 1</h5>
          <ul class="card-text" style="list-style: none">
            <li>narea</li>
            <li>macarena</li>
            <li>mauricio</li>
            <li>ivan</li>
          </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">GRUPO 1</h5>
          <ul class="card-text" style="list-style: none">
            <li>narea</li>
            <li>macarena</li>
            <li>mauricio</li>
            <li>ivan</li>
          </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">GRUPO 1</h5>
          <ul class="card-text" style="list-style: none">
            <li>narea</li>
            <li>macarena</li>
            <li>mauricio</li>
            <li>ivan</li>
          </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">GRUPO 1</h5>
          <ul class="card-text" style="list-style: none">
            <li>narea</li>
            <li>macarena</li>
            <li>mauricio</li>
            <li>ivan</li>
          </ul>
        </div>
    </div>
</div>
